html {
	height: 100%;
}

.clearfix:before, .clearfix:after { content: ""; display: table; }
.clearfix:after { clear: both; }
.clearfix { *zoom: 1;}

body {
	min-height: 100%;
	font-family: 'Biryani', sans-serif;	
	font-weight:400;
	height:100%;
	min-height:1200px;
	background: #fff;
}

#login{
    display:inline-block;
	float: right;
	position: relative;
	overflow: auto;
	 z-index:5;
	font-size: 16px;
	font-weight: 400;
	margin-top: 20px;
	margin-right: 20px;
}

#wrapper {
	width: 100%;
	position: absolute;
	margin: 0 auto;
}
.container {
	width: 980px;
	margin: 0 auto 20px;
}

.ads-container {
	background:#fff;
	width: 750px;
	margin: 0 auto 20px;
}

#insta-wrap{
	
}

h1 {
	margin-top: 95px;
	margin-bottom: 30px;
	font-size: 120px;
	font-family: 'Biryani', sans-serif;	
	font-weight: 900;
	text-transform:uppercase;
	line-height: 1.5;
	color: #000;
	text-align: center;
}

h1 span {
	font-weight: 900;
}

h2 {
	text-align: center;
	margin-bottom: 3em;
	font-family: 'Arvo', sans-serif;
	color: #fff;
	text-shadow: 1px 1px 1px rgba(255,255,255,0.5);
}

.attribution {
	padding: 3em 0;
	text-align: center;
	color: #fff;
	text-shadow: 1px 1px 1px rgba(0,0,0,0.2);
}

.attribution a {
	color: #fff;
}


/* Header Style */
.ddn-top {
	line-height: 60px;
	font-size: 11px;
	text-transform: uppercase;
	z-index: 9999;
	position: relative;
	background:#ED3131;
	-webkit-font-smoothing: antialiased;
	-webkit-box-shadow: inset 0 0 2.75em rgba(0,0,0,.5);
/* 300 */
	-moz-box-shadow: inset 0 0 2.75em rgba(0,0,0,.5);
/* 300 */
	box-shadow: inset 0 0 2.75em rgba(0,0,0,.5);
/* 300 */
}

.ddn-top a {
	padding: 0px 10px;
	letter-spacing: 1px;
	color: #fff;
	display: table;
	margin:0 auto;
	text-decoration: none;
}

.ddn-top a:hover {
	background: rgba(255,255,255,0.8);
	color: #000;
}

.ddn-top span.right {
	float: right;
}

.ddn-top span.right a {
	float: left;
	display: block;
}

@media only screen and ( max-width: 32.5em ) /* 520 */
{
	body
	{
		
	}
	
	h1 {
		margin-top: 95px;
		margin-bottom: 30px;
		font-size: 40px;
		font-family: 'Biryani', sans-serif;	
		font-weight: 900;
		text-transform:uppercase;
		line-height: 1.5;
		color: #000;
		text-align: center;
	
	.container,
	#wrapper
	{
		width: 100%;
		height: auto;
		position: static;
		padding: 3.125em 1.25em; /* 50 20 */
		margin: 0;
	}
}